<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<app-navbar></app-navbar>
<div class='login'>
  <br>
  <h2 class="h3 mb-3 font-weight-normal">Soportes Tecnicos</h2>

  <div class="container">
    <form>
      <div class="cajita form-row">
        <div class="input-group mb-3 backdiv">
          <input class="form-control" style="z-index: 0;" #myInput [(ngModel)]="search" (input)="Buscar()"
          name="search" type="text" placeholder="Ingresa el nombre del Cliente que deseas buscar">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" style="z-index: 0;" type="submit"><i class='fa fa-search'
                style='font-size:12px; margin-right: 5px;'></i>Buscar</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <hr style="background-color: ivory;"><br>
        <div class="row"><br>
          <div class="card mb-3" style="max-width: 540px; min-height: 223px; border-radius: 10px;" *ngFor='let support of supports'> 
            <div class="row" >
              <div class="col-md-4">
                <img style="padding: 25px"
                  src="https://images.vexels.com/media/users/3/131312/isolated/preview/fdc5ab4d9908148b66be99ec3d5d119a-icono-de-agente-de-soporte-masculino-gris-by-vexels.png" class="card-img">
              </div>
              <div class="col-md-8">
                <div class="card-body" >
                  <h5 class="card-title text"  style="font-family: 'Montserrat';">{{support.name}}</h5>
                  <p class="card-text text-gray"><i class="fa fa-globe"
                      style="font-size:16px; color: rgb(158, 158, 158); margin-right: 3px;"></i> Apellido: {{support.surname}}</p>
                  <p class="card-text text-gray"><i class="fa fa-user"
                      style="font-size:16px; color: rgb(158, 158, 158); margin-right: 9px;"></i> Cliente Asignado: {{support.client.nameClient}}
                  </p>
                  <p class="card-text text-gray"><i class="fa fa-cog"
                      style="font-size:16px; color: rgb(158, 158, 158); margin-right: 9px;"></i>Codigo de Tecnico:
                    {{support.code}}</p>
                  <br><br><br>
                  <button type="button" class="btn btn-outline-primary btn-block" style="margin: 10px" (click)="updateSupports(support)">Actualizar Datos Personales</button>
                  <button type="button" class="btn btn-outline-success" style="margin: 10px" (click)="updateSupportsContrasena(support)">Actualizar Contraseña</button>
                  <button type="button" class="btn btn-outline-danger"  style="width: auto;" (click)="deleteSupport(support)">Eliminar</button>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
    <hr style="background-color: ivory;">
  </div>


  