<div class="simple-admin">
  <div data-component="sidebar">
    <div class="sidebar">
      <ul class="list-group flex-column d-inline-block first-menu">
        <!-- ============== GRUPO 1 ============== -->
        <li class="list-group-item py-2">
          <a href="#">
            <img src="http://img.icons8.com/cotton/2x/home--v1.png" height="40"
              class="mr-4">
            <a style="white-space: nowrap;
              color: #8e8e8e;
              font-weight: 400;
              font-size: 0.875em;
              font-weight: bold;">Home</a>
          </a>
        </li>

        <!-- ============== GRUPO 2 ============== -->

        <li class="list-group-item py-2">
          <a href="#" >
            <img src="https://cdn.pixabay.com/photo/2016/03/31/20/37/client-1295901_960_720.png" height="40"
              class="mr-4">
            <a style="white-space: nowrap;
              color: #8e8e8e;
              font-weight: 400;
              font-size: 0.875em;
              font-weight: bold;">Cliente</a>
          </a>
          <ul class="list-group flex-column d-inline-block submenu svg-submenu">
            <li class="list-group-item">
              <a routerLink="register/:id" href="#">
                <img src="https://cdn.pixabay.com/photo/2016/03/31/20/37/client-1295901_960_720.png"
                  height="40" width="40" class="ml-2 mr-4 d-inline-block">
                <div class="text d-inline-block align-middle">
                  Agregar Cliente
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="#" routerLink="/usuarios">
                <img src="https://cdn.pixabay.com/photo/2016/03/31/20/37/client-1295901_960_720.png"
                  height="40" width="40" class="ml-2 mr-4 d-inline-block">
                <div class="text d-inline-block align-middle">
                  Listar Cliente
                </div>
              </a>
            </li>
          </ul>
        </li>

        <!-- ============== GRUPO 3 ============== -->

        <li class="list-group-item py-2">
          <a href="#">
            <img src="https://image.flaticon.com/icons/png/512/149/149071.png" height="40"
              class="mr-4">
            <a style="white-space: nowrap;
                color: #8e8e8e;
                font-weight: 400;
                font-size: 0.875em;
                font-weight: bold;">Usuario</a>
          </a>
          <ul class="list-group flex-column d-inline-block submenu svg-submenu">
            <li class="list-group-item">
              <a href="#" routerLink="registerAdmin/:id">
                <img src="https://image.flaticon.com/icons/png/512/149/149071.png"
                  height="40" width="40" class="ml-2 mr-4 d-inline-block">
                <div class="text d-inline-block align-middle">
                  Agregar Usuario
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="#" routerLink="/usuariosNoFake">
                <img src="https://image.flaticon.com/icons/png/512/149/149071.png"
                  height="40" width="40" class="ml-2 mr-4 d-inline-block">
                <div class="text d-inline-block align-middle">
                  Listar Usuario
                </div>
              </a>
            </li>
          </ul>
        </li>

        <!-- ============== GRUPO 4 ============== -->

        <li class="list-group-item py-2">
          <a href="#">
            <img src="https://icon-library.net/images/concert-ticket-icon/concert-ticket-icon-8.jpg" height="40"
              class="mr-4">
            <a style="white-space: nowrap;
                  color: #8e8e8e;
                  font-weight: 400;
                  font-size: 0.875em;
                  font-weight: bold;">Tickets</a>
          </a>
          <ul class="list-group flex-column d-inline-block submenu svg-submenu">
            <li class="list-group-item">
              <a href="#" routerLink="/tickets" >
                <img src="https://icon-library.net/images/concert-ticket-icon/concert-ticket-icon-8.jpg"
                  height="40" width="40" class="ml-2 mr-4 d-inline-block">
                <div class="text d-inline-block align-middle">
                  Agregar Ticket
                </div>
              </a>
            </li>
            <li class="list-group-item">
              <a href="#" routerLink="/listarTickets">
                <img src="https://icon-library.net/images/concert-ticket-icon/concert-ticket-icon-8.jpg"
                  height="40" width="40" class="ml-2 mr-4 d-inline-block">
                <div class="text d-inline-block align-middle">
                  Listar Tickets
                </div>
              </a>
            </li>
          </ul>
        </li>

        <!-- ============== GRUPO 5 ============== -->
        <li class="list-group-item py-2">
          <a href="#" routerLink="/profile">
            <img src="https://images.vexels.com/media/users/3/147101/isolated/preview/b4a49d4b864c74bb73de63f080ad7930-bot--n-de-perfil-de-instagram-by-vexels.png" height="40"
              class="mr-4">
            <a style="white-space: nowrap;
                    color: #8e8e8e;
                    font-weight: 400;
                    font-size: 0.875em;
                    font-weight: bold;">Perfil</a>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>