<div class="simple-admin">
    <div data-component="sidebar">
      <div class="sidebar">
        <ul class="list-group flex-column d-inline-block first-menu">
          <li class="list-group-item py-2">
            <a href="#">
              <img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1495392326/Reporting_hj9z0i.png" height="40" class="mr-4">
              <a href="">hola</a>
            </a>
          </li> 
          
           
          
          <li class="list-group-item py-2">
            <a href="#">
              <img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1495398626/Admin_aux3ce.png" height="40" class="mr-4"><span>Admin</span>
            </a>
            <ul class="list-group flex-column d-inline-block submenu svg-submenu">
              <li class="list-group-item">
                <a href="#">
              <img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1495406247/Manage_Plugins_tjd7p9.svg" height="32" width="40" class="ml-2 mr-4 d-inline-block">
                  <div class="text d-inline-block align-middle">
            Manage Plugins
          </div>
            </a>
              </li>
              <li class="list-group-item">
                <a href="#">
              <img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1495406288/AgentFire_Settings_y8dhzm.svg" height="33" width="40" class="ml-2 mr-4 d-inline-block">
                  <div class="text d-inline-block align-middle">
            AgentFire Settings
          </div>
            </a>
              </li>
              <li class="list-group-item">
                <a href="#">
              <img src="http://res.cloudinary.com/dt9b7pad3/image/upload/v1495406336/Theme_Appearance_wld9rt.svg" height="33" width="40" class="ml-2 mr-4 d-inline-block">
                  <div class="text d-inline-block align-middle">
            Theme Appearance
          </div>
            </a>
              </li>
              <li class="list-group-item">
                <a href="#">
              <img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1495406380/Tools_qsfsr4.svg" height="33" width="40" class="ml-2 mr-4 d-inline-block">
                  <div class="text d-inline-block align-middle">
            Tools
          </div>
            </a>
              </li>
            </ul>
          </li> 
        </ul>
      </div> 
    </div>
  </div> 