

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,  select {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}


#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}   

@media screen and (max-width: 480px) {
  #form_button {
    padding: 15px 25px;
  }
}

h2 {
  color: #6D7781;
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

.text {
  color: #6D7781;
  font-family: "Sofia", cursive;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}


.transparente{
  opacity: 0.8;
  -moz-opacity: 0.5;
  filter: alpha(opacity=80); 
  -khtml-opacity: 1.5;
  }

.container{ 
  padding-top: 50px;
  padding-bottom: 7%;
  margin: 0 0 0 100px;    
}

.titleMain{
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
}

.backdiv{
  padding: 7px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  width: 550px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 600px) {
  .container{
      padding-top: 75px;
      margin: 0 0 0 0; 
  }
} 


.text{
  color: black;
}

.text-gray{
  color: rgb(158, 158, 158);
  margin-bottom: 0px;
}

.titleMain{
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
}



.espacio{
  padding-top: 30px;
}

.centrar{
display: flex;
justify-content: center;
align-items: center;
}

.file-upload{display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#dce4ec;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}
