<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class="Fondo">
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-10">
      <h2 class="h3 mb-3 font-weight-normal" style="color: black;">¡Ingresa los campos necesarios para la solicitud del
        ticket!</h2>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-6 mx-auto mt-5">
      <form>
        <div class="form-group">
          <label style="color: black">Titulo</label>
          <input type="text" class="form-control" name="name" placeholder="Ingresa el nombre del administrador"
            [(ngModel)]="ticket.title">
        </div>
        <div class="form-group">
          <label style="color: black">Descripcion</label>
          <input type="text" class="form-control" name="name" placeholder="Ingresa el apellido del administrador"
           [(ngModel)]="ticket.description" >
        </div>
        <div class="form-group">
          <label style="color: black">Estado del Ticket</label>
          <select class="form-control custom-select" id="role" name="role" [(ngModel)]='ticket.status'>
            <option selected>Ingresa el estado del Ticket</option>
            <option value="PROCESO">En Proceso</option>
            <option value="CERRADO">Cerrado</option>
            <option value="ESPERA">En Espera</option>
            <option value="CONFIRMACION">En Confirmación por el Cliente</option>
          </select>
        </div> <br>
        <div class="submit" style="text-align: center;">
          <input type="button" value="Solicitar Ticket" id="form_button" (click)="onSubmit()"/>
        </div>
      </form>
    </div>
  </div>
</div>
</div>