<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class='login'>
  <br>
  <h2 class="h3 mb-3 font-weight-normal">Cuidadores</h2>
  
  <div class="container">
      <form>
          <div class="cajita form-row">
            <div class="input-group mb-3 backdiv">
              <input class="form-control" style="z-index: 0;" 
                name="search" type="text" placeholder="Ingresa a la persona que deseas buscar">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" style="z-index: 0;" type="submit"><i class='fa fa-search'
                    style='font-size:12px; margin-right: 5px;'></i>Buscar</button>
              </div>
            </div>
          </div>
        </form>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <hr style="background-color: ivory;"><br>
        <div class="row"><br>
            <div class="card mb-3" style="max-width: 540px; min-height: 223px; border-radius: 10px;">
              <div class="row">
                <div class="col-md-4">
                  <img style="padding: 25px"
                    src="https://cdn.pixabay.com/photo/2016/03/31/20/37/client-1295901_960_720.png" class="card-img">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title text">Cuidador</h5>
                    <p class="card-text text-gray"><i class="fa fa-user" style="font-size:16px; color: rgb(158, 158, 158); margin-right: 3px;"></i>Nombre: Alejandro Hernández</p>
                    <p class="card-text text-gray"><i class="fa fa-paw" style="font-size:16px; color: rgb(158, 158, 158); margin-right: 3px;"></i>Cargo: cuidador de animales</p>
                    <p class="card-text text-gray"><i class="fa fa-phone" style="font-size:16px; color: rgb(158, 158, 158); margin-right: 9px;"></i>Celular: 51121780</p>
                    <p class="card-text text-gray"><i class="fa fa-plus" style="font-size:16px; color: rgb(158, 158, 158); margin-right: 9px;"></i>Animales a Cargo: <i class="fa fa-paw" style="font-size:16px; color: rgb(158, 158, 158); margin-left: 5px;"></i> Leones</p>
                    <br><br><br>
                    <p class="card-text"><small class="text-muted">Ultima actividad hace 10 minutos</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-3" style="max-width: 540px; min-height: 223px; border-radius: 10px;">
              <div class="row">
                <div class="col-md-4">
                  <img style="padding: 25px"
                    src="https://cdn.pixabay.com/photo/2016/03/31/20/37/client-1295901_960_720.png" class="card-img">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title text">Cuidador</h5>
                    <p class="card-text text-gray"><i class="fa fa-user" style="font-size:16px; color: rgb(158, 158, 158); margin-right: 3px;"></i>Nombre: Miguel Perez</p>
                    <p class="card-text text-gray"><i class="fa fa-paw" style="font-size:16px; color: rgb(158, 158, 158); margin-right: 3px;"></i>Cargo: cuidador de animales</p>
                    <p class="card-text text-gray"><i class="fa fa-phone" style="font-size:16px; color: rgb(158, 158, 158); margin-right: 9px;"></i>Celular: 12456987</p>
                    <p class="card-text text-gray"><i class="fa fa-plus" style="font-size:16px; color: rgb(158, 158, 158); margin-right: 9px;"></i>Animales a Cargo: <i class="fa fa-paw" style="font-size:16px; color: rgb(158, 158, 158); margin-left: 5px;"></i> Tigres</p>
                    <br><br><br>
                    <p class="card-text"><small class="text-muted">Ultima actividad hace 10 minutos</small></p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div><br>
    <hr style="background-color: ivory;">
    <button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#exampleModal"><i class="fa fa-user"> Agregar Cuidador</i></button>
  </div>
  



  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text" id="exampleModalLabel">Creacion de cuidador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="col-md-12 col-sm-12">
  
              <!-- Formulario para ingresar datos del animal -->
              <form>
                <br><input type="text"  class="form-control"  placeholder="Nombre"><br>
                <input type="text"   class="form-control"  placeholder="Cargo"><br>
                <input type="text"  class="form-control"  placeholder="Celular"><br>
                <input type="text"   class="form-control"  placeholder="Animales a Cargo"><br>
              </form>

             <!-- BOTONES FOOTER DEL MODAL -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
            </div>
  
  
          </div>
        </div>
      </div>
    </div>
</div>
