<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<app-navbar></app-navbar>
<div class="Fondo">
  <div class='login'>
    <br>
    <h2 class="h3 mb-3 font-weight-normal">Tickets Cliente</h2>
    <div class="container">
      <form>
        <div class="cajita form-row">
          <div class="input-group mb-3 backdiv">
            <input class="form-control" style="z-index: 0;" name="search" type="text"
              placeholder="Ingresa el Ticket que desea buscar" #myInput [(ngModel)]="search" (input)="Buscar()">
            <div class="input-group-append">
              <button (click)="Buscar()" class="btn btn-outline-secondary" style="z-index: 0;" type="submit"><i
                  class='fa fa-search' style='font-size:12px; margin-right: 5px;'></i>Buscar</button>
            </div>
          </div>
        </div>
      </form>
      <div>
        <!--TICKETS EN PROCESO-->
        <h3 *ngIf="ticketsProcess != ''">Tickets en Proceso</h3>
        <h4 *ngIf="ticketsProcess == ''" class="h3 mb-3 font-weight-normal">¡No se encontraron Tickets en
          <strong>Proceso</strong>
          registrados en la base de datos!</h4>
        <h4 *ngIf="intento != false" class="h3 mb-3 font-weight-normal">¡No se encontraron resultados!</h4>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <hr style="background-color: ivory;"><br>
            <div class="row"><br>
              <!--AQUI EMPIEZA EL DIV-->
              <div class="card mb-3" style="max-width: 540px; min-height: 223px; border-radius: 10px;"
                *ngFor='let ticket of ticketsProcess'>
                <div *ngIf='ticket.status == "PROCESO"' style="border-radius: 10px 10px 10px 10px;
                  -moz-border-radius: 10px 10px 10px 10px;
                  -webkit-border-radius: 10px 10px 10px 10px;
                  border: 1px solid #D1D1FF; background-color: #D1D1FF">
                  <div class="row">
                    <div class="col-md-4">
                      <img style="padding: 25px"
                        src="https://icon-library.net/images/concert-ticket-icon/concert-ticket-icon-8.jpg"
                        class="card-img">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title text" style="font-family: Montserrat; color: black;">{{ticket.title}}</h5>
                        <p class="card-text text-gray" style="color: black;width: 250px; white-space: nowrap; overflow: hidden;
                        text-overflow: ellipsis;"><i class="fa fa-globe"
                            style="font-size:16px; color: black; margin-right: 3px;"></i> Descripción:
                          {{ticket.description}}
                        </p>
                        <p class="card-text text-gray" style="color: black;"><i class="fa fa-chart-bar"
                            style="font-size:16px; color: black; margin-right: 9px;"></i> Estado: {{ticket.status}}
                        </p>
                        <p class="card-text text-gray" style="color: black;"><i class="fa fa-user"
                            style="font-size:16px; color: black; margin-right: 9px;"></i> Cliente:
                          {{ticket.client.nameClient}}
                        </p>
                        <p class="card-text text-gray" style="color: black;"><i class="fa fa-calendar-alt"
                            style="font-size:16px; color: black; margin-right: 3px;"></i> Fecha de inicio:
                          {{ticket.startDate}}
                        </p>
                        <br><br><br>
                        <button type="button" class="btn btn-outline-primary btn-block"
                          *ngIf="ticket.status != 'PROCESO' && ticket.status != 'CONFIRMADO' && ticket.status != 'CONFIRMAR POR CLIENTE' "
                          (click)=" updateTicketClient(ticket)">Actualizar </button>
                        <button type="button" class="btn btn-outline-danger btn-block"
                          *ngIf="ticket.status != 'PROCESO' && ticket.status != 'CONFIRMADO' && ticket.status != 'CONFIRMAR POR CLIENTE' "
                          (click)="deleteTicketClient(ticket)">Eliminar</button>
                        <button type="button" class="btn btn-outline-success btn-block"
                          *ngIf="ticket.status == 'CONFIRMAR POR CLIENTE' "
                          (click)="updateConfirm(ticket)">Confirmado</button>
                        <button type="button" class="btn btn-outline-danger btn-block"
                          *ngIf="ticket.status == 'CONFIRMADO' " (click)="updateTicketEnd(ticket)">Terminar
                          Ticket</button>
                        <button type="button" class="btn btn-outline-primary btn-block"
                          *ngIf="ticket.status != 'CONFIRMACION POR CLIENTE' && ticket.status != 'CONFIRMADO'"
                          (click)="verDetaalle(ticket)" routerLink="/detalle">Ver Detalle de Ticket</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><br>
        <!--TICKETS EN ESPERA-->
      </div>
      <h3 *ngIf="ticketsWait != ''">Tickets en Espera</h3>
      <h4 *ngIf="ticketsWait == ''" class="h3 mb-3 font-weight-normal">¡No se encontraron Tickets en
        <strong>Espera</strong> registrados en la base de datos!
      </h4>
      <h4 *ngIf="intento != false" class="h3 mb-3 font-weight-normal">¡No se encontraron resultados!</h4>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <hr style="background-color: ivory;"><br>
          <div class="row"><br>
            <!--AQUI EMPIEZA EL DIV-->
            <div class="card mb-3" style="max-width: 540px; min-height: 223px; border-radius: 10px;"
              *ngFor='let ticket of ticketsWait'>
              <div *ngIf='ticket.status == "ESPERA"' style="border-radius: 10px 10px 10px 10px;
                  -moz-border-radius: 10px 10px 10px 10px;
                  -webkit-border-radius: 10px 10px 10px 10px;
                  border: 1px solid #FFD1D1; background-color: #FFD1D1">
                <div class="row">
                  <div class="col-md-4">
                    <img style="padding: 25px"
                      src="https://icon-library.net/images/concert-ticket-icon/concert-ticket-icon-8.jpg"
                      class="card-img">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title text" style="font-family: Montserrat; color: black;">{{ticket.title}}</h5>
                      <p class="card-text text-gray" style="color: black; width: 250px; white-space: nowrap; overflow: hidden;
                      text-overflow: ellipsis;"><i class="fa fa-globe"
                          style="font-size:16px; color: black; margin-right: 3px;"></i> Descripción:
                        {{ticket.description}}
                      </p>
                      <p class="card-text text-gray" style="color: black;"><i class="fa fa-chart-bar"
                          style="font-size:16px; color: black; margin-right: 9px;"></i> Estado: {{ticket.status}}
                      </p>
                      <p class="card-text text-gray" style="color: black;"><i class="fa fa-user"
                          style="font-size:16px; color: black; margin-right: 9px;"></i> Cliente:
                        {{ticket.client.nameClient}}
                      </p>
                      <p class="card-text text-gray" style="color: black;"><i class="fa fa-calendar-alt"
                          style="font-size:16px; color: black; margin-right: 3px;"></i> Fecha de inicio:
                        {{ticket.startDate}}
                      </p>
                      <br><br><br>
                      <button type="button" class="btn btn-outline-primary btn-block"
                        *ngIf="ticket.status != 'PROCESO' && ticket.status != 'CONFIRMADO' && ticket.status != 'CONFIRMAR POR CLIENTE' "
                        (click)=" updateTicketClient(ticket)">Actualizar </button>
                      <button type="button" class="btn btn-outline-danger btn-block"
                        *ngIf="ticket.status != 'PROCESO' && ticket.status != 'CONFIRMADO' && ticket.status != 'CONFIRMAR POR CLIENTE' "
                        (click)="deleteTicketClient(ticket)">Eliminar</button>
                      <button type="button" class="btn btn-outline-success btn-block"
                        *ngIf="ticket.status == 'CONFIRMAR POR CLIENTE' "
                        (click)="updateConfirm(ticket)">Confirmado</button>
                      <button type="button" class="btn btn-outline-danger btn-block"
                        *ngIf="ticket.status == 'CONFIRMADO' " (click)="updateTicketEnd(ticket)">Terminar
                        Ticket</button>
                      <button type="button" class="btn btn-outline-primary btn-block"
                        *ngIf="ticket.status != 'CONFIRMACION POR CLIENTE' && ticket.status != 'CONFIRMADO'"
                        (click)="verDetaalle(ticket)" routerLink="/detalle">Ver Detalle de Ticket</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <!--TICKETS EN CONFIRMACIÓN POR EL CLIENTE-->
      <h3 *ngIf="ticketsConfirmCustomer != ''">Tickets en Confirmación por el Cliente
      </h3>
      <h4 *ngIf="ticketsConfirmCustomer == ''" class="h3 mb-3 font-weight-normal">¡No hay Tickets en
        <strong>Confirmación
          por el Cliente</strong> registrados en la base de datos!</h4>
      <h4 *ngIf="intento != false" class="h3 mb-3 font-weight-normal">¡No se encontraron resultados!</h4>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <hr style="background-color: ivory;"><br>
          <div class="row"><br>
            <!--AQUI EMPIEZA EL DIV-->
            <div class="card mb-3" style="max-width: 540px; min-height: 223px; border-radius: 10px;"
              *ngFor='let ticket of ticketsConfirmCustomer'>
              <div *ngIf='ticket.status == "CONFIRMAR POR CLIENTE"' style="border-radius: 10px 10px 10px 10px;
                      -moz-border-radius: 10px 10px 10px 10px;
                      -webkit-border-radius: 10px 10px 10px 10px;
                      border: 1px solid #FCFFD1; background-color: #FCFFD1">
                <div class="row">
                  <div class="col-md-4">
                    <img style="padding: 25px"
                      src="https://icon-library.net/images/concert-ticket-icon/concert-ticket-icon-8.jpg"
                      class="card-img">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title text" style="font-family: Montserrat; color: black;">{{ticket.title}}</h5>
                      <p class="card-text text-gray" style="color: black;width: 250px; white-space: nowrap; overflow: hidden;
                      text-overflow: ellipsis;"><i class="fa fa-globe"
                          style="font-size:16px; color: black; margin-right: 3px;"></i> Descripción:
                        {{ticket.description}}
                      </p>
                      <p class="card-text text-gray" style="color: black;"><i class="fa fa-chart-bar"
                          style="font-size:16px; color: black; margin-right: 9px;"></i> Estado: {{ticket.status}}
                      </p>
                      <p class="card-text text-gray" style="color: black;"><i class="fa fa-user"
                          style="font-size:16px; color: black; margin-right: 9px;"></i> Cliente:
                        {{ticket.client.nameClient}}
                      </p>
                      <p class="card-text text-gray" style="color: black;"><i class="fa fa-calendar-alt"
                          style="font-size:16px; color: black; margin-right: 3px;"></i> Fecha de inicio:
                        {{ticket.startDate}}
                      </p>
                      <br><br><br>
                      <button type="button" class="btn btn-outline-primary btn-block"
                        *ngIf="ticket.status != 'PROCESO' && ticket.status != 'CONFIRMADO' && ticket.status != 'CONFIRMAR POR CLIENTE' "
                        (click)=" updateTicketClient(ticket)">Actualizar </button>
                      <button type="button" class="btn btn-outline-danger btn-block"
                        *ngIf="ticket.status != 'PROCESO' && ticket.status != 'CONFIRMADO' && ticket.status != 'CONFIRMAR POR CLIENTE' "
                        (click)="deleteTicketClient(ticket)">Eliminar</button>
                      <button type="button" class="btn btn-outline-success btn-block"
                        *ngIf="ticket.status == 'CONFIRMAR POR CLIENTE' "
                        (click)="updateConfirm(ticket)">Confirmado</button>
                      <button type="button" class="btn btn-outline-danger btn-block"
                        *ngIf="ticket.status == 'CONFIRMADO' " (click)="updateTicketEnd(ticket)">Terminar
                        Ticket</button>
                      <button type="button" class="btn btn-outline-primary btn-block"
                        *ngIf="ticket.status != 'CONFIRMACION POR CLIENTE' && ticket.status != 'CONFIRMADO'"
                        (click)="verDetaalle(ticket)" routerLink="/detalle">Ver Detalle de Ticket</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><br>
      <!--TICKETS CONFIRMADOS POR EL CLIENTE-->
      <h3 *ngIf="ticketsConfirmed != ''">Tickets Confirmados por el Ciente</h3>
      <h4 *ngIf="ticketsConfirmed == ''" class="h3 mb-3 font-weight-normal">¡No se encontraron Tickets en
        <strong>Confirmados por el
          Cliente</strong> registrados en la base de datos!</h4>
      <h4 *ngIf="intento != false" class="h3 mb-3 font-weight-normal">¡No se encontraron resultados!</h4>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <hr style="background-color: ivory;"><br>
          <div class="row"><br>
            <!--AQUI EMPIEZA EL DIV-->
            <div class="card mb-3" style="max-width: 540px; min-height: 223px; border-radius: 10px;"
              *ngFor='let ticket of ticketsConfirmed'>
              <div *ngIf='ticket.status == "CONFIRMADO"' style="border-radius: 10px 10px 10px 10px;
                      -moz-border-radius: 10px 10px 10px 10px;
                      -webkit-border-radius: 10px 10px 10px 10px;
                      border: 1px solid #D1FFF2; background-color: #D1FFF2">
                <div class="row">
                  <div class="col-md-4">
                    <img style="padding: 25px"
                      src="https://icon-library.net/images/concert-ticket-icon/concert-ticket-icon-8.jpg"
                      class="card-img">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title text" style="font-family: Montserrat; color: black;">{{ticket.title}}</h5>
                      <p class="card-text text-gray" style="color: black;width: 250px; white-space: nowrap; overflow: hidden;
                      text-overflow: ellipsis;"><i class="fa fa-globe"
                          style="font-size:16px; color: black; margin-right: 3px;"></i> Descripción:
                        {{ticket.description}}
                      </p>
                      <p class="card-text text-gray" style="color: black;"><i class="fa fa-chart-bar"
                          style="font-size:16px; color: black; margin-right: 9px;"></i> Estado: {{ticket.status}}
                      </p>
                      <p class="card-text text-gray" style="color: black;"><i class="fa fa-user"
                          style="font-size:16px; color: black; margin-right: 9px;"></i> Cliente:
                        {{ticket.client.nameClient}}
                      </p>
                      <p class="card-text text-gray" style="color: black;"><i class="fa fa-calendar-alt"
                          style="font-size:16px; color: black; margin-right: 3px;"></i> Fecha de inicio:
                        {{ticket.startDate}}
                      </p>
                      <br><br><br>
                      <button type="button" class="btn btn-outline-primary btn-block"
                        *ngIf="ticket.status != 'PROCESO' && ticket.status != 'CONFIRMADO' && ticket.status != 'CONFIRMAR POR CLIENTE' "
                        (click)=" updateTicketClient(ticket)">Actualizar </button>
                      <button type="button" class="btn btn-outline-danger btn-block"
                        *ngIf="ticket.status != 'PROCESO' && ticket.status != 'CONFIRMADO' && ticket.status != 'CONFIRMAR POR CLIENTE' "
                        (click)="deleteTicketClient(ticket)">Eliminar</button>
                      <button type="button" class="btn btn-outline-success btn-block"
                        *ngIf="ticket.status == 'CONFIRMAR POR CLIENTE' "
                        (click)="updateConfirm(ticket)">Confirmado</button>
                      <button type="button" class="btn btn-outline-danger btn-block"
                        *ngIf="ticket.status == 'CONFIRMADO' " (click)="updateTicketEnd(ticket)">Terminar
                        Ticket</button>
                      <button type="button" class="btn btn-outline-primary btn-block"
                        *ngIf="ticket.status != 'CONFIRMACION POR CLIENTE' && ticket.status != 'CONFIRMADO'"
                        (click)="verDetaalle(ticket)" routerLink="/detalle">Ver Detalle de Ticket</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><br>
    </div>
  </div>