<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<app-navbar></app-navbar>
<div class="Fondo">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-10">
        <h2 class="h3 mb-3 font-weight-normal" style="color: black;">¡Ingresa los datos del Tecnico!</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-6 mx-auto mt-5">
        <form>
          <div class="form-group">
            <label style="color: black;">Nombre del Tecnico</label>
            <input type="text" class="form-control" name="name" placeholder="Ingresa el nombre del tecnico" [(ngModel)]="support.name">
          </div>
          <div class="form-group">
            <label style="color: black">Apellido del Tecnico</label>
            <input type="text" class="form-control" name="surname" placeholder="Ingresa el apellido del tecnico" [(ngModel)]="support.surname">
          </div>
          <div class="form-group">
            <label style="color: black">Cliente a asignar</label>
            <select class="form-control custom-select" id="cliente" name="cliente" [(ngModel)]="support.client">
              <option value="">Seleccionar el cliente que le asignaras a esta persona</option>
              <option *ngFor='let client of clients' value="{{client._id}}">{{client.nameClient}}</option>
            </select>
          </div><br>
          <div class="submit" style="text-align: center;">
              <input type="button" value="Registar Tecnico" id="form_button" (click)="onSubmit()"/>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>