<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-10">
        <h2 class="h3 mb-3 font-weight-normal" style="color: black;">¡Ingresa los datos del cliente!</h2>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-6 mx-auto mt-5">
      <form >
          <div class="form-group">
              <label style="color: black">Nombre del administrador</label>
              <input type="text"  class="form-control" name="name" placeholder="Ingresa el nombre del administrador" [(ngModel)]="admin.name">
            </div>
  <div class="form-group">
              <label style="color: black">Apellido del administrador</label>
              <input type="text"  class="form-control" name="surname" placeholder="Ingresa el apellido del administrador" [(ngModel)]="admin.surname">
            </div>
            <div class="form-group">
              <label style="color: black">Rol del administrador</label>
        <select class="form-control custom-select" id="role" name="role" [(ngModel)]="admin.role" >
                    <option value="">Seleccionar Rol</option>
                    <option value="ADMINISTRADOR">Administrador</option>
                    <option value="SOPORTE">Soporte</option>
                  </select>
            </div>
            <div class="submit" style="text-align: center;">
                <input type="button" value="Actualizar Datos" id="form_button" (click)="updateClient()"/>
              </div>
      </form>
    </div>
  </div>
</div>
