<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<app-navbar></app-navbar>
<div class="Fondo">
<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-10">
        <h2 class="h3 mb-3 font-weight-normal">¡Bienvenido!</h2>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-6 mx-auto mt-5">
      <form >
          <div class="form-group">
            <label style="color: black">Usuario</label>
            <input type="email" style="text-transform: uppercase" name="Email" class="form-control" [(ngModel)]="login.code" >
          </div>
          <div class="form-group">
            <label style="color: black">Contraseña</label>
            <input type="password"  name="Password"class="form-control" [(ngModel)]="login.password">
          </div>
          <div class="submit" style="text-align: center;">
            <input type="submit" value="Iniciar Sesion" id="form_button" (click)="Login()"/>
          </div>
      </form>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-6 mx-auto mt-3 text-center">

    </div>
    <br>
    <div class="centrar transparente" style="letter-spacing: 1px;">
      <div class="row backdiv">
        <div>
          <form class="centrar">
            <div class="form-row">
              <div class="form-group">
                <button class="btn btn-lg" href="https://accounts.google.com/Login?hl=es" style="color:black"><i
                    class="fab fa-google-plus" style="color: black"></i> Google</button>
              </div>
              <div class="form-group">
                <button class="btn btn-lg" href="https://twitter.com/login?lang=es" style="color:black"><i
                    class="fab fa-twitter-square" style="color: black"></i> Twitter</button>
              </div>
              <div class="form-group">
                <button class="btn btn-lg" href="https://twitter.com/login?lang=es" style="color:black"><i
                    class="fab fa-facebook-f" style="color: black"></i> Facebook</button>
              </div>
              <div class="form-group">
                <button class="btn btn-lg" href="https://vine.co/" style="color:black"><i class="fab fa-vine"
                    style="color: black"></i> Vine</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>