<div class="Fondo"> 
<div id="container">
  <br>
    <h1>&bull; ¡BIENVENIDO! &bull;</h1>
    <div class="underline">
    </div>
    <form action="#" method="post" id="contact_form">
      <div class="Usuario">
        <label for="usuario"></label>
        <input type="text" placeholder="Mi usuario es" name="usuario" id="usuario_input" required>
      </div>
      <div class="Contraseña">
          <label for="contraseña"></label>
          <input type="password" class="" placeholder="Mi contraseña es" name="contraseña" id="contraseña_input" required>
        </div>
      <div class="submit" style="text-align: center;">
        <input type="submit" value="Iniciar Sesion" id="form_button"/>
      </div>
    </form>
  </div>
</div>