<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<app-navbar></app-navbar>
<div class="Fondo">
<div class='login'>
  <br>
  <h2 class="h3 mb-3 font-weight-normal">Tickets Soporte</h2>

  <div class="container">
    <form>
      <div class="cajita form-row">
        <div class="input-group mb-3 backdiv">
          <input class="form-control" style="z-index: 0;" name="search" type="text"
            placeholder="Ingresa el Ticket que desea buscar"  #myInput [(ngModel)]="search" (input)="Buscar2()">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" style="z-index: 0;" type="submit"><i class='fa fa-search'
                style='font-size:12px; margin-right: 5px;'></i>Buscar</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <hr style="background-color: ivory;"><br>
        <div class="row"><br>
           <!--AQUI EMPIEZA EL DIV-->
          <div class="card mb-3" style="max-width: 540px; min-height: 223px; border-radius: 10px;" *ngFor='let ticket of tickets'>
            <div class="row">
              <div class="col-md-4">
                <img style="padding: 25px"
                  src="https://cdn.pixabay.com/photo/2016/03/31/20/37/client-1295901_960_720.png" class="card-img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text" style="font-family: Montserrat">{{ticket.title}}</h5>
                  <p class="card-text text-gray"><i class="fa fa-globe"
                      style="font-size:16px; color: rgb(158, 158, 158); margin-right: 3px;"></i>  Descripción: {{ticket.description}}
                    </p>
                    <p class="card-text text-gray"><i class="fa fa-chart-bar"
                      style="font-size:16px; color: rgb(158, 158, 158); margin-right: 3px;"></i> Estado: {{ticket.status}}
                    </p>
                    <p class="card-text text-gray"><i class="fa fa-calendar-alt"
                      style="font-size:16px; color: rgb(158, 158, 158); margin-right: 3px;"></i> Fecha de inicio: {{ticket.startDate}}
                    </p>
                  <br><br><br>
                  <button type="button" class="btn btn-outline-primary btn-block" *ngIf="ticket.status == 'CONFIRMADO'"  style="margin: 10px" (click)="updateProcess(ticket)" >Proceso</button>
                  <button type="button" class="btn btn-outline-danger btn-block"  *ngIf="ticket.status == 'PROCESO'" (click)="updateTicketEnd(ticket)">Terminado</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
    <hr style="background-color: ivory;">
  </div>
</div>

  