h2 {
    color: #6D7781;
    font-family: "Sofia", cursive;
    font-size: 15px;
    font-weight: bold;
    font-size: 3.6em;
    text-align: center;
    margin-bottom: 20px;
  }

  h3{
    color: black;
    font-family: "Montserrat";
    font-size: 10px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h3:hover{
    transform: scale(1.1);
    transition: transform .9s;
  }
  
  h3:after{
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
  }
  
  h3:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  h4{
    color: black;
    font-family: "Montserrat";
    font-size: 6px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .text {
    color: #6D7781;
    font-family: "Sofia", cursive;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    display: block;
  }
  
  /* CARTA */
  
  .container{
  padding-top: 50px;
  padding-bottom: 7%;
  }
  
  .card{
  margin-right: 15px;
  }
  
  
  .text-gray{
  color: rgb(158, 158, 158);
  margin-bottom: 0px;
  }
  
  .titleMain{
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
  }
  
  .backdiv{
  padding: 25px;
  border-radius: 10px;
  }
  
  .cajita{
  border:1px solid whitesmoke;
  border-radius: 10px;
  margin-bottom: 25px;
  padding-bottom: -20px;
  }
  
  @media (max-width: 600px) {
  .container{
      padding-top: 75px;
      margin: 0 0 0 0; 
  }
  } 
  
  h4{
  color: black;
  }
  
  .margen{
  margin: 10px;
  }
  
  label{
  color: black;
  }
  
  .margen2{
  margin-top: 31px;
  margin-left: 10px;
  }
  
  /* EFECTO ZOOM */
  
  .card:hover{
  transform: scale(1.05);
  transition: transform .7s;
  }

  .form-control{
    text-transform: uppercase;
  }
  
  