h2 {
  color: #6D7781;
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

.text {
  color: #6D7781;
  font-family: "Sofia", cursive;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  display: block;
}

/* CARTA */

.container{
padding-top: 50px;
padding-bottom: 7%;
}

.card{
margin-right: 15px;
}


.text-gray{
color: rgb(158, 158, 158);
margin-bottom: 0px;
}

.titleMain{
font-size: 50px;
margin-bottom: 25px;
text-align: center;
}

.backdiv{
padding: 25px;
border-radius: 10px;
}

.cajita{
border:1px solid whitesmoke;
border-radius: 10px;
margin-bottom: 25px;
padding-bottom: -20px;
}

@media (max-width: 600px) {
.container{
    padding-top: 75px;
    margin: 0 0 0 0; 
}
} 

h4{
color: black;
}

.margen{
margin: 10px;
}

label{
color: black;
}

.margen2{
margin-top: 31px;
margin-left: 10px;
}

/* EFECTO ZOOM */

.card:hover{
transform: scale(1.05);
transition: transform .7s;
}

