<app-navbar></app-navbar>
<div class="Fondo"> 
    <div id="container">
      <br>
        <h1>&bull; Detalles del Contacto &bull;</h1>
        <form action="#" method="post" id="contact_form">
          <div class="Usuario">
            <label for="usuario"></label>
            <input type="text" placeholder="Usuario.Logueado" name="usuario" id="usuario_input" disabled>
          </div>
          <div class="País">
              <label for="pais"></label>
              <input type="text" placeholder="pais.logueado" name="pais" id="pais_input" disabled>
            </div>
            <div class="Codigo de Usuario">
                <label for="codigo_usuario"></label>
                <input type="text" placeholder="codigo_usuario.logueado" name="codigo_usuario" id="codigo_input" disabled>
              </div>
        </form>
      </div>
    </div>