<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet' type='text/css'>
<div class="Fondo">
<div class='login'>
  <br>
  <h2 class="h3 mb-3 font-weight-normal">Usuarios</h2>

  <div class="container">
    <form>
      <div class="cajita form-row">
        <div class="input-group mb-3 backdiv">
          <input class="form-control" style="z-index: 0;" type="text" #myInput [(ngModel)]="search" (input)="Buscar()"
          name="search" placeholder="Ingresa a la persona que deseas buscar">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" style="z-index: 0;" type="submit"><i class='fa fa-search'
                style='font-size:12px; margin-right: 5px;'></i>Buscar</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <hr style="background-color: ivory;"><br>
        <div class="row"><br>
          <div class="card mb-3" style="max-width: 540px; min-height: 223px; border-radius: 10px;"
            *ngFor='let admin of administrators'>
            <div class="row">
              <div class="col-md-4">
                <img style="padding: 25px"
                  src="https://cdn.pixabay.com/photo/2016/03/31/20/37/client-1295901_960_720.png" class="card-img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text" style="font-family: 'Montserrat';">{{admin.name}} </h5>
                  <p class="card-text text-gray"><i class="fa fa-font"
                      style="font-size:16px; color: rgb(158, 158, 158); margin-right: 3px;"></i> Nombre:
                    {{admin.name}} {{admin.surname}}</p>
                  <p class="card-text text-gray"><i class="fa fa-user"
                      style="font-size:16px; color: rgb(158, 158, 158); margin-right: 9px;"></i> Rol: {{admin.role}}
                  </p>
                  <p class="card-text text-gray"><i class="fa fa-cog"
                    style="font-size:16px; color: rgb(158, 158, 158); margin-right: 9px;"></i> Codigo: {{admin.code}}
                </p>
     
                  <br><br><br>
                  <button type="button" class="btn btn-outline-primary btn-block" style="margin: 10px" (click)="updateAdministrator(admin)">Actualizar Datos Personales</button>
                  <button type="button" class="btn btn-outline-success" style="margin: 10px" (click)="updateAdministratorPassword(admin)">Actualizar Contraseña</button>
                  <button type="button" class="btn btn-outline-danger" style="width: 107px;">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
    <hr style="background-color: ivory;">
  </div>
</div>

  